.recipient-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #f7f7f7;
  height: 100vh;
  background-image: url('../img/recipientblood3.png');
  background-repeat: no-repeat;
  background-size: cover;
  }
  
  .mainpageh2{
  text-align: center;
  font-size: 3.5rem;
  margin: 50px 0;
  color: rgb(14, 12, 12);
  text-shadow: 2px 2px 4px #000000;
  }
  
  .recipient-search-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 10px;
  margin-top: 150px;
  width: 50%;
  max-width: 600px;
  max-height: 500px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 40%;
  right: 0;
  transform: translateY(-50%);
  }
  
  .recipient-search-header {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
  color: #121314;
  /* text-shadow: 2px 2px 4px #000000; */
  }
  
  .recipient-search-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  }
  
  .recipient-search-label {
  /* font-size: 1.5rem; */
  margin-right: 10px;
  color: #333;
  }
  
  .recipient-search-select {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1.5rem;
  width: 300px;
  color: #333;
  }
  
  .recipient-search-button {
  background-color: #3498db;
  color: white;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }
  
  .recipient-donors-container {
  margin-top: 50px;
  }
  
  .recipient-donors-header {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  color: #090c0e;
  /* text-shadow: 2px 2px 4px #000000; */
  }
  
  .recipient-donors-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
  
  .recipient-donors-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .recipient-donor-button {
  background-color: #e74c3c;
  color: white;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }
  
  .recipient-donor-button:hover {
  background-color: #c0392b;
  }